
<h1>Name: <%=@project.name %></h1>

<div>
  <div>When is it?! <%=@project.start_date%> - <%=@project.end_date%></div>
  <div> Where is it?! <%=@project.location%></div>
  <div> Wut is it?! <%=@project.bio%></div>
  <div> How many volunteers are needed?! <%=@project.number_of_vols%></div>
</div>

<%= youtube_embed(@youtube)%>



<% if @project.user_id != current_user.id %>
  <form action="/projects/<%= @project.id %>" method='post'>
      <input type="submit" value="Join this Project!">
  </form>
<% end %>

