
<div align="center">
  <% if current_user.id == @user.id %>
    <h2> Welcome, <%= @current_user.username %>!</h2>
</div>
<% end %>

<div class="container" id='chill' align="center"><img src='<%= @user.file.url %>'/></div>

<br>

<div class="container text-center">
  <div class="jumbotron" id="jumbo">
    <h2> <%= @user.first_name.capitalize %> <%= @user.last_name %> </h2>
    <h3>Bio:</h3> <%= @user.bio %>

    <h3>Projects:</h3>

    <% @user_projects.each do |project| %>
      <%= project.name %>

  </div>
</div>

<div align="center">
  <form action="/user_profile" method="post">
          <div>
              <label for="bio">Bio:</label>
              <textarea name="bio" cols="25" rows="3"></textarea>
          </div>
          <div>
              <input type="submit" value="submit" />
              <input type="reset" value="reset" />
          </div>
  </form>
<% end %>
</div>

<br>

<div class="jumbotron" align="center">
  <div class="container">
    <form action='/users/<%= @current_user.id %>' method="post" enctype="multipart/form-data">
      <div>
        <label>Profile Picture</label>
        <input type="file" name="uploaded_file">
      </div>
      <div>
        <button type="submit">Upload!</button>
      </div>
    </form>
  </div>
</div>





<h3>My Projects:</h3>

<% @user_projects.each do |project| %>
  <%= project.name %>
<% end %>





<h2>Projects I've committed to:</h2>

<% @user_commitments.each do |commitment| %>
  <%= commitment.project.name %>
<%end%>

<h2>This user has an overall rating of <%= @score_average%></h2>




<% if @current_user.id != params[:id].to_i %>





  <h2>Rate a user</h2>

  <form method="post" action='/users/<%= @user.id %>'>
  <label for="score">Rating: </label>
    <select name="score">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      </select>
    <input type="submit" value="Submit Rating">
  </form>
<%end%>
